{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- 1st ROW 
    ================================================== -->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="title text-center">{{ genre_name|title }} </h3>
            <div class="bordered">
            </div>
        </div>
    </div> 
    <div class="content">
        <ul class="thumbnails" id="shows-thumbnails">
            {% for show in shows %}
                <li class="span4">
                    <article class="thumbnail">
                        <div class="caption">
                            <h4>{{ show.name }}</h4>
                            <p style="text-align: left;padding-right: 15px;">
                            {{ show.summary }}
                            </p>
                             <p style="text-align: left;">
                                 <a class="btn btn-success" href="/bestwatch/shows/detail/{{ show.id }}">Read More</a>
                             </p>
                            
                        </div>
                        <img src="/static/img/uploads/{{ show.poster }}" class="span12" style="min-height:50px;height:300px;"/>
                    </article>
                </li>
                {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
