{% extends "base.html" %}
{% block content %}
{% load bestwatch_extras %}
<div class="container">
    <input type="hidden" value="{{ show.id }}" id="show_id"/>
    <div class="content">
        <div class="row-fluid spacetop">
            <div class="span3">
                <p><img class='span12' style='min-height:50px;height:300px;' src='/static/img/uploads/{{ show.poster }}'</p>
            </div>
            <div class="span6">
                <div class="span6">
                    <h3 style="padding-left: 10px;">
                        {{ show.name }}
                    </h3>
                </div>
                <div class="span6">
                    <strong><p style="float:right; margin-bottom:0px;" id="ratingtext"></p></strong>
                    <br/>
                    <div id= "rating" class="star" style="float: right;">
                    </div>
                </div>
                <div class="span12">
                    <p>{{ show.summary }}</p>
                    Genres: 
                    {% for genre in genres %}
                        <a href="/bestwatch/explore/{{ genre.id }}"> {{ genre.name|title }} </a>
                    {% endfor %}
                </div>
            </div>
            <div class="span3">
                <h4>Facts</h4>
                <p>
                    <span class="badge badge-success">{{ reviews|length }}</span>
                    Reviews
                </p>
                <p>
                    <span class="badge badge-info">{{ ratings_count }}</span>
                    Ratings
                </p>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row-fluid spacetop">
            <h3>Reviews for {{ show.name }} </h3>
                {% if 'logged_in' in request.session %}
                    <a type="button" class="btn btn-success" href="#review_modal" data-toggle="modal" id="add_review_btn">Add Review</a>
                    <!-- Modal -->
                    <div class="modal hide fade" id="review_modal" tabindex="-1" role="dialog" aria-labelledby="review_modal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Add Review for {{ show.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <fieldset>
                                        <div class="control-group">  
                                            <label class="control-label" for="review_textarea">What do you think?</label>  
                                            <div class="controls">  
                                                <textarea class="input-xlarge" id="review_textarea" rows="5" style="width:400px;"></textarea>  
                                            </div>  
                                        </div>  
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" data-loading-text="Saving" id="save_review_btn">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal hide fade" id="ratingExistsModal" tabindex="-1" role="dialog" aria-labelledby="ratingExistsModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Information</h4>
                                </div>
                                <div class="modal-body">
                                    <p>You have already rated for this show.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                {% endif %}
            </h3>

        </div>
    </div>

    <div class="content">
        <ul class="thumbnails" id="show_reviews">
            {% for review in reviews %}
                <li class="span4">
                    <div class="testimonial">
                        <h4><img class="avatarspic" src="
                            {{ review.user.profile_pic|check_profpic }}
                            " alt=""></h4>
                        <p>{{ review.review }}</p>
                    </div>

                    <div class="author-wrapper">
                        <div class="arrow">
                        </div>
                        <div class="testimonial-name">
                            <a href="/bestwatch/user/view_detail/{{ review.user.id }}" class="testimonial-name">{{ review.user.name }}</a>
                        </div>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}
